body { background: url('images/5.jpg') }
.background {
border: 2px dotted aqua;
margin: 0 auto;
margin-top: 380px;
width: 200px;


}

h1 { font-family: sans-serif;
text-align: center;}





@media screen and (max-width: 1024px) {
  body { background: url('images/1.jpg');  }
  h1 { font-family: serif;  }
  div { border-radius: 10%; }

}

@media screen and (max-width: 768px) {
  body { background: url('images/2.jpg');   }
   h1 { font-family: courier;  }
   div { border-radius: 30%; }

}

@media screen and (max-width: 600px) {
  body {background: url('images/3.jpg'); }
  h1 { font-family: cursive;} 
   div { border-radius: 50%; }
}

@media screen and (max-width: 480px) {
  body { background: url('images/4.jpg'); }
  div { border-radius: 70%; }
}

@media screen and (max-width: 320px) {
  body { background: url('images/5.jpg'); }
  div { border-radius: 100%; }
}