body {
    background-color: #DDDDDD;
}


.letter-definition {
    display: none;


}

.container {
    transform: scale(1);
    margin: 200px 150px;
    margin-left: 400px;
    width: 1060px;
}


.home01{
    text-align: center;
    width: 19px;
    height: 148px;
    position: fixed;
    top: 0;
    background-color: blue;
    border-radius: 6px; 
    margin-left: -7px;

}

.letters01{
    text-align: center;
    width: 7px;
    height: 148px;
    position: fixed;
    top: 0;
    left: 30px;
    background-color: blue;
    border-radius: 6px; 

}

.numbers01{
    text-align: center;
    width: 7px;
    height: 148px;
    position: fixed;
    top: 0;
    left: 47px;
    background-color: blue;
    border-radius: 6px; 

}

.more01{
    text-align: center;
    width: 7px;
    height: 148px;
    position: fixed;
    top: 0;
    left: 65px;
    background-color: blue ;
    border-radius: 6px; 

}

.app{
    text-align: center;
    width: 7px;
    height: 148px;
    position: fixed;
    top: 0;
    left: 65px;
    background-color: blue
    border-radius: 6px; 

}


.container .letter {
transform: scale(0.6);
margin: -13px;
margin-bottom: -99px;
/*background-color: aqua;*/
}

.container1 {      
background-color:yellow;
margin-top: 100px;    
width:265px;
height: 100px;
transform: scale(0.5);
padding:0px;  
display: inline-block; 
border-radius: 6px; 
margin-right: -50px;
padding-left: 20px;
border-bottom: yellow solid 20px;
}


.container2 {
background-color:orange;
margin-top: 100px;    
width:150px;
height: 100px;
transform: scale(0.5);
padding:0px;  
display: inline-block; 
border-radius: 6px; 
margin-right: -50px;
padding-left: 20px;
border-bottom: orange solid 20px;
    
}


.container3  {
background-color:yellow;
margin-top: 0px;    
width:438px;
height: 130px;
transform: scale(0.5);
padding:10px;  
display: inline-block; 
border-radius: 6px;
margin-right: -100px; 
}

.container4  {
/*background-color:red;*/
margin-top: 100px;    
width:170px;
height: 100px;
transform: scale(0.5);
padding:0px; 
padding-top: 0px;
padding-bottom: 0px; 
padding-left: 20px; 
display: inline-block; 
border-radius: 6px;
margin-right: -100px;
border-bottom: red solid 20px; 
}




.letter {
height:148px;
display: inline-block;
padding-right: 5px;
padding-bottom: 15px;

}

.space {
    width:40px;
    height: 148px;
}


.A {
    width:75px;
    position: relative;



}

.A .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 

}

.A .right {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 56px;
position: absolute;
border-radius: 6px; 
}

.A .top {
width: 60px;
height: 7px;
background: black;
top:0;

right:0;
left: 3px;
position: absolute;
border-radius: 6px; 
}

.A .middle {
width: 60px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.B {
    width:75px;
    position: relative;
      -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

}

.B .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.B .bar-top-1 {
    background: black;
    width: 11px;
    height: 36px;
    background: #000000;
    position: absolute;
    top: 0px;
    transform: skew(58deg,0);
    left: 38px;
    border-radius: 6px;
}

.B .bar-top-2 {
    background: black;
    width: 11px;
    height: 36px;
    background: #000000;
    position: absolute;
    top: 36px;
    transform: skew(-58deg,0);
    left: 38px;
    border-radius: 6px;
}





.B .bar-bottom-1 {
    background: black;
    width: 11px;
    height: 36px;
    background: #000000;
    position: absolute;
    top: 76px;
    transform: skew(58deg,0);
    left: 38px;
    border-radius: 6px;


}

.B .bar-bottom-2 {
    background: black;
    width: 11px;
    height: 36px;
    background: #000000;
    position: absolute;
    top: 112px;
    transform: skew(-58deg,0);
    left: 38px;
    border-radius: 6px;
}

.C {
    width:75px;
    position: relative;

}



.C .left {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.C .top {
width: 75px;
height: 7px;
background: black;
top:0;

right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.C .bottom {
width: 75px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}


.D {
    width:75px;
    position: relative;

}

.D .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}


.D .top {
        background: black;
    width: 7px;
    height: 74px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 0px;
    transform: skew(39deg,0);
    left: 38px;
    border-radius: 6px;
}

.D .bottom {

    background: black;
    width: 7px;
    height: 72px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 74px;
    transform: skew(-39deg,0);
    left: 38px;
    border-radius: 6px;
}

.E {
    width:75px;
    position: relative;

}



.E .left {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.E .top {
width: 75px;
height: 7px;
background: black;
top:0;

right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.E .bottom {
width: 75px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.E .middle {
width: 75px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.F {
    width:75px;
    position: relative;

}



.F .left {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.F .top {
width: 75px;
height: 7px;
background: black;
top:0;

right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}



.F .middle {
width: 75px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}


.G {
    width:75px;
    position: relative;

}



.G .left {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.G .right {
    width: 19px;
    height: 73px;
    background: black;
    top: 75px;
    right: 0;
    left: 56px;
    position: absolute;
    border-radius: 6px;
}

.G .top {
width: 75px;
height: 7px;
background: black;
top:0;

right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.G .bottom {
width: 75px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.G .middle {
width: 41px;
height: 7px;
background: black;
top:75px;
left:34px;
right:0;
position: absolute;
border-radius: 6px; 
}

.H {
    width:75px;
    position: relative;

}

.H .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.H .right {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 56px;
position: absolute;
border-radius: 6px; 
}



.H .middle {
width: 60px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}


.I {
    width:75px;
    position: relative;

}



.I .middle {
width: 19px;
height: 148px;
background: black;
top:0;
left:28px;
right:0;
position: absolute;
border-radius: 6px; 
}

.I .top {
width: 75px;
height: 7px;
background: black;
top:0;

right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.I .bottom {
width: 75px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.J {
    width:75px;
    position: relative;

}



.J .middle {
width: 19px;
height: 148px;
background: black;
top:0;
left:28px;
right:0;
position: absolute;
border-radius: 6px; 
}

.J .top {
width: 75px;
height: 7px;
background: black;
top:0;

right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.J .bottom {
width: 47px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
position: absolute;
border-radius: 6px; 
}

.J .left {
    width: 19px;
    height: 66px;
    background: black;
    top: 79px;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: 6px;
}

.K {
    width:75px;
    position: relative;

}

.K .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.K .bar-top {

    background: black;
    width: 7px;
    height: 82px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 0;
    transform: skew(-38deg,0);
    left: 38px;
    border-radius: 6px; 
}

.K .bar-bottom{

    background: black;
    width: 7px;
    height: 82px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 66px;
    transform: skew(38deg,0);
    left: 38px;
    border-radius: 6px; 
}


.L {
    width:75px;
    position: relative;

}



.L .left {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}



.L .bottom {
width: 75px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}


.M {
width:98px;
position: relative;

}

.M .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.M .right {
width: 19px;
height: 148px;
background: black;
top: 0;
left: 0;
right: 0;
left: 101px;
position: absolute;
border-radius: 6px;
}


.M .middle-l {
    background: black;
    width: 7px;
    height: 148px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 0;
    transform: skew(16deg,0);
    left: 34px;
    border-radius: 6px;
}

.M .middle-r {
    background: black;
    width: 7px;
    height: 148px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 0;
    transform: skew(-16deg,0);
    left: 78px;
    border-radius: 6px;
}



.N {
    width:75px;
    position: relative;

}

.N .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.N .right {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 56px;
position: absolute;
border-radius: 6px; 
}


.N .middle {
        background: black;
    width: 7px;
    height: 148px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 0;
    transform: skew(16deg,0);
    left: 34px;
    border-radius: 6px;
}




.O {
    width:75px;
    position: relative;

}

.O .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.O .right {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 56px;
position: absolute;
border-radius: 6px; 
}

.O .top {
width: 60px;
height: 7px;
background: black;
top:0;

right:0;
left: 3px;
position: absolute;
border-radius: 6px; 
}

.O .bottom {
width: 70px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.P {
    width:75px;
    position: relative;
      -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";

}

.P .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.P .bar-top-1 {
    background: black;
    width: 11px;
    height: 36px;
    background: #000000;
    position: absolute;
    top: 0px;
    transform: skew(58deg,0);
    left: 38px;
    border-radius: 6px;
}

.P .bar-top-2 {
    background: black;
    width: 11px;
    height: 36px;
    background: #000000;
    position: absolute;
    top: 36px;
    transform: skew(-58deg,0);
    left: 38px;
    border-radius: 6px;
}





.Q {
    width:75px;
    position: relative;

}

.Q .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.Q .right {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 56px;
position: absolute;
border-radius: 6px; 
}

.Q .top {
width: 60px;
height: 7px;
background: black;
top:0;

right:0;
left: 3px;
position: absolute;
border-radius: 6px; 
}

.Q .bottom {
width: 70px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.Q .middle {
    width: 51px;
    height: 7px;
    background: black;
    top: 108px;
    left: 40px;
    right: 0;
    position: absolute;
    border-radius: 6px;
}


.R {
    width:75px;
    position: relative;

}

.R .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.R .bar-top-1 {
    background: black;
    width: 11px;
    height: 36px;
    background: #000000;
    position: absolute;
    top: 0px;
    transform: skew(58deg,0);
    left: 38px;
    border-radius: 6px;
}

.R .bar-top-2 {
    background: black;
    width: 11px;
    height: 36px;
    background: #000000;
    position: absolute;
    top: 36px;
    transform: skew(-58deg,0);
    left: 38px;
    border-radius: 6px;
}

.R .bottom {

    background: black;
    width: 7px;
    height: 72px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 74px;
    transform: skew(39deg,0);
    left: 38px;
    border-radius: 6px;
}


.S {
    width:75px;
    position: relative;

}

.S .left {
    width: 19px;
    height: 60px;
    left: 0;
    background: black;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 6px; 
}

.S .right {
    width: 19px;
    height: 60px;
    background: black;
    top: 88px;
    left: 0;
    right: 0;
    left: 56px;
    position: absolute;
    border-radius: 6px;
}

.S .top {
    width: 75px;
    height: 7px;
    background: black;
    top: 0;
    right: 0;
    left: 0px;
    position: absolute;
    border-radius: 6px;
}

.S .bottom {
    width: 70px;
    height: 7px;
    background: black;
    top: 141px;
    left: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: 6px;
}

.S .middle {
   background: black;
    width: 25px;
    height: 37px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 56px;
    transform: skew(58deg,0);
    left: 25px;
    border-radius: 6px;
}



.T {
    width:75px;
    position: relative;

}



.T .middle {
width: 19px;
height: 148px;
background: black;
top:0;
left:28px;
right:0;
position: absolute;
border-radius: 6px; 
}

.T .top {
width: 75px;
height: 7px;
background: black;
top:0;

right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.U {
    width:75px;
    position: relative;

}

.U .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.U .right {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 56px;
position: absolute;
border-radius: 6px; 
}


.U .bottom {
width: 70px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}



.V {
    width:75px;
    position: relative;


}

.V .left {
    width: 19px;
    height: 148px;
    left: 0;
    background: black;
    top: 0;
    left: 16px;
    position: absolute;
    border-radius: 6px;
    transform: skew(11deg,0);
}

.V .right {
    width: 7px;
    height: 148px;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    left: 56px;
    position: absolute;
    border-radius: 6px;
    transform: skew(-10deg,0);
}

.W {
    width:110px;
    position: relative;
    margin-left: -15px;


}

.W .left {
    width: 19px;
    height: 148px;
    left: 0;
    background: black;
    top: 0;
    left: 16px;
    position: absolute;
    border-radius: 6px;
    transform: skew(11deg,0);
}

.W .right {
    width: 7px;
    height: 148px;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    left: 56px;
    position: absolute;
    border-radius: 6px;
    transform: skew(-10deg,0);
}

.W .box1{
    background-color: yellow;
    width:75px;
    position: relative;
    position: inline-block;

}
.W .box2{
    width:75px;
    position: relative;
    position: inline-block;
    left: 65px;

}




.X {
    width:75px;
    position: relative;

}

.X .left {
    width: 19px;
    height: 148px;
    left: 0;
    background: black;
    top: 0;
    left: 28px;
    position: absolute;
    border-radius: 6px;
    transform: skew(22deg,0);
}

.X .right {
    width: 7px;
    height: 148px;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    left: 35px;
    position: absolute;
    border-radius: 6px;
    transform: skew(-25deg,0);
}


.Y {
    width:75px;
    position: relative;

}

.Y .left {
    width: 19px;
    height: 75px;
    left: 0;
    background: black;
    top: 0;
    left: 13px;
    position: absolute;
    border-radius: 6px;
    transform: skew(22deg,0);
}

.Y .right {
   width: 7px;
    height: 74px;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    left: 53px;
    position: absolute;
    border-radius: 6px;
    transform: skew(-22deg,0);
}

.Y .bottom {
    width: 19px;
    height: 81px;
    background: black;
    top: 67px;
    left: 28px;
    right: 0;
    position: absolute;
    border-radius: 6px;
}




.Z {
    width:75px;
    position: relative;

}



.Z .middle {
    background: black;
    width: 19px;
    height: 148px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 0;
    transform: skew(-22deg,0);
    left: 28px;
    border-radius: 6px;
}

.Z .top {
width: 75px;
height: 7px;
background: black;
top:0;

right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.Z .bottom {
width: 75px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.zero {
    width:75px;
    position: relative;

}

.zero .left {
width: 19px;
height: 148px;
left:0;
background: black;
top:0;
left:0;
position: absolute;
border-radius: 6px; 
}

.zero .right {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 56px;
position: absolute;
border-radius: 6px; 
}

.zero .top {
width: 60px;
height: 7px;
background: black;
top:0;

right:0;
left: 3px;
position: absolute;
border-radius: 6px; 
}

.zero .bottom {
width: 70px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.zero .middle {
width: 7px;
    height: 148px;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    left: 35px;
    position: absolute;
    border-radius: 6px;
    transform: skew(-15deg,0);
}

.one {
    width:75px;
    position: relative;

}

.one .left {
    background: black;
    width: 11px;
    height: 36px;
    background: #000000;
    position: absolute;
    top: 0px;
    transform: skew(-58deg,0);
    left: 25px;
    border-radius: 6px;
}

.one .right {
width: 19px;
height: 148px;
background: black;
top:0;
left:0;
right:0;
left: 56px;
position: absolute;
border-radius: 6px; 
}


.two {
    width:75px;
    position: relative;

}

.two .left {
    width: 19px;
    height: 71px;
    left: 0;
    background: black;
    top: 76px;
    left: 0;
    position: absolute;
    border-radius: 6px;
}

.two .right {
    width: 19px;
    height: 82px;
    background: black;
    top: 0px;
    left: 0;
    right: 0;
    left: 56px;
    position: absolute;
    border-radius: 6px;
}

.two .top {
width: 70px;
height: 7px;
background: black;
top:0;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}




.two .middle {
width: 70px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.two .bottom {
width: 74px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.three {
    width:75px;
    position: relative;

}

.three .right {
    width: 19px;
    height: 148px;
    background: black;
    top: 0px;
    left: 0;
    right: 0;
    left: 56px;
    position: absolute;
    border-radius: 6px;
}

.three .top {
width: 70px;
height: 7px;
background: black;
top:0;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}




.three .middle {
width: 60px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.three .bottom {
width: 74px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.four {
    width:75px;
    position: relative;

}

.four .left {
    width: 19px;
    height: 105px;
    background: black;
    top: 0px;
    left: 0;
    right: 0;
    left: 0px;
    position: absolute;
    border-radius: 6px;
}



.four .vertical {
width: 19px;
height: 105px;
background: black;
top:43px;
left:36px;
right:0;
position: absolute;
border-radius: 6px; 
}

.four .middle {
width: 75px;
height: 7px;
background: black;
top: 98px;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.five {
    width:75px;
    position: relative;

}

.five .left {
    width: 19px;
    height: 70px;
    left: 0;
    background: black;
    top: 76px;
    left: 56px;
    position: absolute;
    border-radius: 6px;
}

.five .right {
    width: 19px;
    height: 80px;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: 6px;
}

.five .top {
width: 75px;
height: 7px;
background: black;
top:0;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}




.five .middle {
width: 75px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.five .bottom {
width: 74px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.six {
    width:75px;
    position: relative;

}

.six .right {
    width: 19px;
    height: 73px;
    left: 0;
    background: black;
    top: 75px;
    left: 56px;
    position: absolute;
    border-radius: 6px;
}

.six .left {
    width: 19px;
    height: 148px;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: 6px;
}

.six .top {
width: 75px;
height: 7px;
background: black;
top:0;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}




.six .middle {
width: 70px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.six .bottom {
width: 74px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}


.seven {
    width:75px;
    position: relative;

}



.seven .middle {
    background: black;
    width: 19px;
    height: 148px;
    background: #000000;
    position: absolute;
    left: 10px;
    top: 0;
    transform: skew(-22deg,0);
    left: 28px;
    border-radius: 6px;
}

.seven .top {
width: 75px;
height: 7px;
background: black;
top:0;

right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}

.seven .bottom {
width: 75px;
height: 7px;
background: black;
top:75px;
right:0;
left: 0px;
position: absolute;
border-radius: 6px; 
}


.eight {
    width:75px;
    position: relative;

}

.eight .right {
    width: 19px;
    height: 148px;
    background: black;
    top: 0px;
    left: 0;
    right: 0;
    left: 56px;
    position: absolute;
    border-radius: 6px;
}

.eight .left {
    width: 19px;
    height: 148px;
    background: black;
    top: 0px;
    left: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: 6px;
}

.eight .top {
width: 70px;
height: 7px;
background: black;
top:0;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}




.eight .middle {
width: 60px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.eight .bottom {
width: 74px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}


.nine {
    width:75px;
    position: relative;

}

.nine .right {
    width: 19px;
    height: 148px;
    background: black;
    top: 0px;
    left: 0;
    right: 0;
    left: 56px;
    position: absolute;
    border-radius: 6px;
}

.nine .left {
    width: 19px;
    height: 80px;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    position: absolute;
    border-radius: 6px;
}

.nine .top {
width: 70px;
height: 7px;
background: black;
top:0;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}




.nine .middle {
width: 60px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.nine .bottom {
width: 74px;
height: 7px;
background: black;
top:141px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.ex {
    width:75px;
    position: relative;

}

.ex .top {
width: 19px;
height: 123px;
background: black;
top:0;
left:28px;
right:0;
position: absolute;
border-radius: 6px; 
}

.ex .bottom {
width: 19px;
height: 19px;
background: black;
top:129px;
left:28px;
right:0;
position: absolute;
border-radius: 6px; 
}


.int {
    width:75px;
    position: relative;

}

.int .left {
    width: 19px;
    height: 47px;
    left: 0;
    background: black;
    top: 76px;
    left: 0;
    position: absolute;
    border-radius: 6px;
}

.int .right {
    width: 19px;
    height: 82px;
    background: black;
    top: 0px;
    left: 0;
    right: 0;
    left: 56px;
    position: absolute;
    border-radius: 6px;
}

.int .top {
width: 70px;
height: 7px;
background: black;
top:0;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}




.int .middle {
width: 70px;
height: 7px;
background: black;
top:75px;
left:0;
right:0;
left: 0;
position: absolute;
border-radius: 6px; 
}

.int .bottom {
width: 19px;
height: 19px;
background: black;
top:129px;
left:0;
right:0;
position: absolute;
border-radius: 6px; 
}

.point {
    width:75px;
    position: relative;

}

.point .bottom {
width: 19px;
height: 19px;
background: black;
top:129px;
left:0;
right:0;
position: absolute;
border-radius: 6px; 
}

.comma {
    width:75px;
    position: relative;

}

.comma .top {
width: 19px;
height: 19px;
background: black;
top:129px;
left:0;
right:0;
position: absolute;
border-radius: 6px; 
}

.comma .bottom {
        width: 7px;
    height: 25px;
    background: black;
    top: 140px;
    left: 7px;
    right: 0;
    position: absolute;
    border-radius: 6px;
    transform: skew(-26deg,0);
}


.quotation-r {
    width:75px;
    position: relative;

}

.quotation-r .top1 {
width: 19px;
height: 19px;
background: black;
top:0;
left:0;
right:0;
position: absolute;
border-radius: 6px; 
}

.quotation-r .bottom1 {
        width: 7px;
    height: 25px;
    background: black;
    top: 11px;
    left: 5px;
    right: 0;
    position: absolute;
    border-radius: 6px;
    transform: skew(26deg,0);
}

.quotation-r .top2 {
    width: 19px;
    height: 19px;
    background: black;
    top: 0;
    left: 26px;
    right: 0;
    position: absolute;
    border-radius: 6px;
}

.quotation-r .bottom2 {
     width: 7px;
    height: 25px;
    background: black;
    top: 11px;
    left: 31px;
    right: 0;
    position: absolute;
    border-radius: 6px;
    transform: skew(26deg,0);
}


.quotation-l {
    width:75px;
    position: relative;

}

.quotation-l .top1 {
width: 19px;
height: 19px;
background: black;
top:0;
left:30px;
right:0;
position: absolute;
border-radius: 6px; 
}

.quotation-l .bottom1 {
        width: 7px;
    height: 25px;
    background: black;
    top: 11px;
    left: 37px;
    right: 0;
    position: absolute;
    border-radius: 6px;
    transform: skew(-26deg,0);
}

.quotation-l .top2 {
    width: 19px;
    height: 19px;
    background: black;
    top: 0;
    left: 56px;
    right: 0;
    position: absolute;
    border-radius: 6px;
}

.quotation-l .bottom2 {
     width: 7px;
    height: 25px;
    background: black;
    top: 11px;
    left: 63px;
    right: 0;
    position: absolute;
    border-radius: 6px;
    transform: skew(-26deg,0);
}

